@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  box-sizing: border-box;
}

:root {
  /* Dark */
  --dark-navigation: #1E1F22;
  --dark-server: #2b2d31;
  --dark-server-hover: #404249;
  --dark-server-selected: #35373c;
  --dark-server-active: #3f4147;
  --dark-server-footer: #232428;
  --dark-page: #313338;
  --dark-chat-input: #383a40;
  /* Light */
  --light-navigation: #e3e5e8;
  --light-server: #f2f3f5;
  --light-server-hover: #dfe1e5;
  --light-server-selected: #d7d9dc;
  --light-server-active: #e6e6e8;
  --light-server-footer: #ebedef;
  --light-page: #ffffff;
  --light-chat-input: #ebedef;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border focus-visible:ring-0 focus-visible:ring-offset-0;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .input-primary {
    @apply bg-zinc-300/50 dark:bg-[var(--dark-navigation)];
  }
}

@layer components {
  .text-channel-section {
    @apply text-zinc-500 hover:text-zinc-600 dark:text-zinc-400 dark:hover:text-zinc-300;
  }
}

@layer components {
  .text-on-channel {
    @apply text-black dark:text-white;
  }

  .text-channel-btn-no-hover {
    @apply text-zinc-500 dark:text-zinc-400;
  }

  .text-channel-btn {
    @apply text-channel-btn-no-hover hover:text-zinc-600 dark:hover:text-zinc-200;
  }

  .text-channel-btn-group {
    @apply text-channel-btn-no-hover group-hover:text-zinc-600 dark:group-hover:text-zinc-200;
  }
}